.header {
  font-size: 18px;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(74, 78, 78);
  width: 100%;
  top: 0;
  left: 0;
}

.header nav {
  min-height: 55px;
  flex: 1;
  max-width: 1100px;
  display: flex;
  align-items: center;
  padding: 10px clamp(0.625rem, -9.375rem + 20.83vw, 6.25rem);
  position: relative;
}

.list {
  display: flex;
  gap: 20px;
}

.list li {
  display: flex;
  align-items: center;
}

.list a {
  text-decoration: none;
}

.list a:hover,
.list a.active {
  color: var(--blue);
}

.logo {
  width: 50px;
  margin-right: 50px;
}

/* .list a {
  display: inline-block;
  vertical-align: middle;
} */

.dropdown-item-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.dropdown-item-wrap > a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-favorites__btn {
  margin-left: auto;
  /* height: min-content; */
}

.btn-submit {
  margin-left: 10px;
  background-color: black;
  padding: 5px 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.btn-submit:hover {
  background-color: var(--blue);
}

.burger-btn {
  display: none;
  line-height: 0;
}

.icon {
  width: 30px;
  height: auto;
}

@media (max-width: 1200px) {
  .header,
  .header a {
    font-size: 16px;
  }

  .list {
    gap: 10px;
  }

  .logo {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .header,
  .header a {
    font-size: 14px;
  }

  .header nav {
    padding: 10px 35px;
  }

  .logo {
    display: none;
  }

  .btn-submit {
    margin-left: 0px;
  }

  .list {
    gap: clamp(0.625rem, -0.446rem + 2.23vw, 0.938rem);
  }
}

@media (max-width: 768px) {
  .burger-btn {
    display: block;
    margin-left: auto;
  }

  nav.active {
    flex-direction: column;
    gap: 30px;
  }

  nav.active .burger-btn {
    margin-left: 0;
  }

  nav .list {
    margin-right: auto;
  }

  nav.active .list {
    margin-right: 0;
  }

  .header,
  .header a {
    font-size: 18px;
  }
}
