.title-logo {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(18rem, 80vw, 62.5rem);

  aspect-ratio: 1000 / 206;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  animation: logoAnimation 3s infinite ease-in-out;
}

@keyframes logoAnimation {
  0% {
    background-image: url("./assets/Title.png");
  }
  50% {
    background-image: url("./assets/Title-bright.png");
  }
  100% {
    background-image: url("./assets/Title.png");
  }
}

@media (max-width: 768px) {
  .title-logo {
    display: none;
  }
}
