:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: rgb(131, 189, 236);
}

body p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

p,
ul {
  font-size: 18px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

.bg-img {
  padding: 250px 100px;
  background: #242424 url(./assets/back.jpg) no-repeat center center / cover
    fixed;
}

.wrapper {
  /* margin: 250px 250px 100px 250px; */
  max-width: 1400px;
  padding: 35px;
  background-color: rgb(74, 78, 78);
  display: flex;
  flex-direction: column;
  margin: 80px auto 0 auto;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 992px) {
  .bg-img {
    padding: 200px 50px;
  }

  .wrapper {
    padding: 30px 20px;
  }
}

@media (max-width: 768px) {
  .bg-img {
    padding: 200px 25px;
  }
}

@media (max-width: 600px) {
  .bg-img {
    padding: 0;
    background: #242424;
  }
  .wrapper {
    margin: 75px 0;
  }
}
