.drop {
  position: relative;
  display: flex;
  font-size: 18px;
  /* margin-left: auto; */
  /* gap: 20px; */
  margin-right: 25px;
}

.drop + .drop {
  margin-left: 0;
}

.drop-btn {
  padding-right: 15px;
}

.drop-btn::after {
  content: "";
  position: absolute;
  top: 38%;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  transition: all 0.3s ease-in-out;
}

.drop-btn:hover::after,
.drop-btn.active::after {
  border-bottom: none;
  border-top: 10px solid white;
}

.dropped-block {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--blue);
  padding: 20px;
  border-radius: 12px;
  width: max-content;
  max-height: 400px;
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: var(--blue) black;
}

.dropped-block.active {
  display: block;
  z-index: 100;
}

.dropped-list-item a:hover {
  color: black !important;
}
