.drop {
  position: relative;
  display: flex;
  font-size: 18px;
  margin: 0 auto;
  /* gap: 20px; */
}

input {
  width: 100%;
  padding: 8px 16px;
  display: inline-block;
  border: 3px solid #000000;
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;

  font-family: inherit;
}

input:focus {
  border-color: var(--blue);
}

.dropped-block {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: var(--blue);
  padding: 20px;
  border-radius: 12px;
  width: max-content;
}

.dropped-block.active {
  display: block;
  z-index: 100;
}

.dropped-list-item a:hover {
  color: black !important;
}
