.reviews-block {
  margin-top: 100px;
}

h3 {
  font-size: 42px;
  margin-bottom: 30px;
}

.reviews-item {
  border-bottom: 5px black solid;
  margin: 20px 0;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  overflow: hidden;
  background-color: var(--blue);
}

.user-avatar-fallback {
  font-size: 40px;
  transform: translate(22%, -20%);
  pointer-events: none;
}

.user-name {
  font-size: 24px;
  font-weight: 700;
}

.user-rating {
  color: rgb(200, 200, 200);
}

.review {
  padding: 0 60px;
  margin-bottom: 10px;
}

.review-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.review-date {
  font-style: italic;
  color: rgb(200, 200, 200);
}
